@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="inner-banner">
	<section class="w3l-breadcrumb">
		<div class="container">
			<h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">Kayıt Ol</h4>
			<ul class="breadcrumbs-custom-path">
				<li><a href="/blog/index">Anasayfa</a></li>
				<li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Kayıt Ol</li>
			</ul>
		</div>
	</section>
</div>
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			
				<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				@using(Html.BeginForm("Index","Register",FormMethod.Post))
				{
						<div class="form-row">
								<div class="col-md-6 mb-3">
										<label for="validationCustom01">İsim ve Soyisim</label>
										@Html.TextBoxFor(x=>x.WriterName,new{@class="form-control"})
										@Html.ValidationMessageFor(x=>x.WriterName,"",new{@class="text-danger"})
									@*<input type="text" class="form-control" id="validationDefault01"  name="WriterName" placeholder="" required="">*@
								</div>
								<div class="col-md-6 mb-3">
										<label for="validationCustom02">Mail</label>
							@Html.TextBoxFor(x=>x.WriterMail,new{@class="form-control"})
							@Html.ValidationMessageFor(x=>x.WriterMail,"",new{@class="text-danger"})
									@*<input type="email" class="form-control" name="WriterMail" id="validationDefault02" placeholder="" required="">*@
								</div>
					    </div>
							
							<div class="form-row">
								<div class="form-group col-md-6">
										<label for="exampleInputPassword1 mb-2">Şifre</label>
							@Html.TextBoxFor(x=>x.WriterPassword,new{@class="form-control"})
							@Html.ValidationMessageFor(x=>x.WriterPassword,"",new{@class="text-danger"})
									@*<input type="password" class="form-control" name="WriterPassword" id="password1" placeholder="" required="">*@
								</div>
								<div class="form-group col-md-6">
										<label for="exampleInputPassword2 mb-2">Şifre Tekrar</label>
							@Html.TextBoxFor(x=>x.WriterPassword,new{@class="form-control"})
							@Html.ValidationMessageFor(x=>x.WriterPassword,"",new{@class="text-danger"})
										@*<input type="password" class="form-control" id="password2" name="WriterPassword" placeholder="" required="">*@
									</div>

							</div>
							<button type="submit" class="btn btn-success submit mb-4">Kayıt Ol</button>
								<p>
									<a href="#" id="btn1">Tüm şartları okudum, kabul ediyorum</a>
								</p>
						
				}
					</div>
			</div>
		</div>
		<br />
		<script>
			$('#btn1').click(function(){
			swal("Üyelik Sözleşmesi", "...");

		});
		</script>
		
	</section>